.previewBlockWrapperRedesigned {
    overflow: hidden;
    padding-right: 50px;
    position: relative;
    transition: background 3000ms ease-in-out;
    background: transparent;
    min-height: 100px;

    &:hover {
        background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    }
}

.previewBlockWrapperDeprecated {
    overflow: hidden;
    padding-right: 50px;
    position: relative;
    transition: background 3000ms ease-in-out;
    background: transparent;

    &:hover {
        background: linear-gradient(89.97deg, rgb(2 50 194 / 30%) 1.15%, rgb(2 50 194 / 0%) 99.97%);
    }
}

.previewBlockBtnsWrapperRedesigned {
    background-color: var(--light-bg-redesigned);
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    align-items: stretch;
    border-bottom-left-radius: 16px;
}

.previewBlockBtnsWrapperDeprecated {
    background-color: var(--card-bg);
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    align-items: stretch;

    //border-bottom-left-radius: 16px;
}
