.ArticleCreatePage {
    padding: 10px;
  min-width: 844px;

}


.InputName {
    width:400px;
}


.addLinkButton {
   align-self: end;
  min-width:178px;
}


.blockWrap {
  flex-grow: 1;
}

.pageTitleWrap {
  background: linear-gradient(89.97deg, rgba(94, 211, 243, 0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);


  padding: 16px 24px;
  border-radius: 16px;
}



