.ArticleCreatePage {
  padding: 10px;
  padding-bottom: 20px;

  min-width: 844px;

  //flex-grow: 1;
  ////padding: 20px 20px 20px 40px;
  //height: calc(100vh - var(--navbar-height));
  //overflow-y: auto;
  //flex-shrink: 100;

}


.InputName {
    width:400px;
}


.addLinkButton {
   align-self: end;
  min-width:178px;
}

.addButton {
  width:180px;
}
.deleteBtn {
  width: 145px;
}


.blockWrap {
  flex-grow: 1;
}

.pageTitleWrap {
  background: linear-gradient(89.97deg, rgba(94, 211, 243, 0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);


  padding: 16px 24px;
  border-radius: 16px;
}


