.ArticleCreatePage {
    padding: 10px;
}


.InputName {
    width: 500px;
}


.addLinkButton {
   align-self: end;
}

.editorWrapper {
  border-radius: 24px ;

  border: 2px solid var(--icon-redesigned);
}


.editorToolbar {
  background: var(--dark-bg-redesigned);
  padding:8px;
  border-radius: 24px 24px 16px 16px;
  border: 2px solid var(--dark-bg-redesigned);

}


.editorTextArea {
  border-radius: 16px;
  padding: 8px 16px;
  //border: 2px solid var(--icon-redesigned);
}
