.LoginForm {
    width: 460px;
}

.loginBtn {
    margin-left: auto;
}

.formRedirectWrapper {
    align-self: center;
}

.passwordInputWrapper {
    position: relative;
}

.passwordInputLink {
    position: absolute;
    top: 0;
    right: 0;
}
