.codeWrap {
    position: relative;
    background: var(--light-bg-redesigned);
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
    overflow-x: auto;
width: 100%;
    display:grid;

}


.CodeRedesigned {

    padding: 30px 20px 20px;
    background: var(--light-bg-redesigned);
    overflow: auto;
    //border: 1px solid var(--accent-redesigned);
    font-size: var(--font-size-s);
 //width: 100%;

    max-height: 600px;
}

.copyBtn {
    position: absolute;
    right: 0;
    top:0;
}

.copyIcon path {
    stroke: var(--primary-color);
}
