.Tabs {
    display: flex;
    gap: 8px;
    cursor: pointer;

    .tab {
        min-width: 80px;
        padding: 6px 16px;
        text-align: center;
        transition: border 300ms ease-in;

        &:hover {
            background: var(--light-bg-redesigned);
        }
    }
}
