.tr {
  display: flex;
  width: fit-content;
}

.th {
  border: 1px solid var(--icon-redesigned);

}



.th {
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
  font: var(--font-s-redesigned);
  font-weight: 600;
  //text-transform: uppercase;
  text-align: center;
}

.headerTitle {
  max-width: 80px;
}


.optionActionBlock {
  position: absolute;
  top: -2px;
  right:4px;
}

.optionFilterActionBlock {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-8px, -50%);
}

.optionSortActionBlock {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}


.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #27bbff;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
  transition: opacity 300ms;
}

.resizer.isResizing {
  background-color: #2eff31;
  opacity: 1;
}

*:hover > .resizer {
  opacity: 1;
}
