.title {
    color: var(--text-redesigned);
    transition: opacity 300ms ease;
}

.text {
    color: var(--text-redesigned);
    transition: opacity 300ms ease;
}

.error {
    .title {
        color: var(--cancel-redesigned);
    }

    .text {
        color: var(--cancel-redesigned);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }

    .text {
        color: var(--accent-redesigned);
    }
}

.secondary {
    .title {
        color: var(--hint-redesigned);
    }

    .text {
        color: var(--hint-redesigned);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.size_xs {
    .title {
        font: var(--font-s-redesigned);
    }

    .text {
        font: var(--font-xs-redesigned);
    }
}

.size_s {
    .title {
        font: var(--font-m-redesigned);
    }

    .text {
        font: var(--font-s-redesigned);
    }
}

.size_m {
    .title {
        font: var(--font-l-redesigned);
    }

    .text {
        font: var(--font-m-redesigned);
    }
}

.size_l {
    .title {
        font: var(--font-xl-redesigned);
    }

    .text {
        font: var(--font-l-redesigned);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}

.italic {
    .title,
    .text {
        font-style: italic;
    }
}

.italic.title,
.italic.text {
    font-style: italic;
}

.bold.title {
    font-weight: 700;
}
