.ArticleViewSelector {
    .notSelected {

        fill: var(--card-bg);
        stroke: var(--card-bg);
    }
}

.ArticleViewSelectorRedesigned {
    .notSelected {
        color: var(--light-bg-redesigned);
        stroke: var(--light-bg-redesigned);
    }
}
