.dashboard {
    max-width: 400px;
    grid-area: 1 / 1 / 4 / 3;
}

.chartsWrapRedesigned {
    display: grid;
    grid-template-columns: repeat(2, 192px) 428px;
    grid-template-rows: repeat(4, 105px) 195px 220px repeat(3, 316px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.usersActivityChart { grid-area: 1 / 3 / 3 / 4; }
.articleCategoriesChart { grid-area: 3 / 3 / 6 / 4; }
.bubbleChart { grid-area: 4 / 1 / 6 / 3; }

.articleRateDistributionChart {
    width: 236px;

    //grid-area: 6 / 1 / 7 / 2;
}

.commentsDistributionChart {
    grid-area: 6 / 2 / 7 / 4;
    margin-left: 44px;
}

.commentsRatingChart { grid-area: 7 / 1 / 8 / 4; }
.quarterlyChart { grid-area: 8 / 1 / 9 / 4; }
.monthlyChart { grid-area: 9 / 1 / 10 / 4; }

.chartsWrapDeprecated {
    display: grid;
    grid-template-columns: repeat(2, 192px) 412px;
    grid-template-rows: repeat(4, 105px) 195px 220px repeat(3, 316px);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
