.title {
  font-weight: 900;
}

.gridContainer {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 390px);
  gap: 24px;
  width: 100%;
}

.featureCard {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  height: 100%;
  width:100%;
  box-shadow: var(--home-card-shadow);
}

.cardText {
  text-align: justify;
}

.cardTitle {
  font-weight: bold;
}
