.img {
    width: 100%;
    max-height: 300px;
}

.avatarWrapDeprecated,
.avatarWrapRedesigned {
    position: relative;
    width: 100%;
}

.heroImageZone {
    height: 200px;
    width: 100%;
}

.avatarWrapDeprecated {
    svg g {
        stroke: var(--card-bg);
    }
}

.avatarWrapRedesigned {
    svg g {
        stroke: var(--card-bg);
    }
}
