.filterItemRedesigned {
    transition: background-color 300ms;
    padding: 5px 10px;

    &:hover {
        background: var(--light-bg-redesigned);
    }
}

.activeRedesigned {
    background: var(--light-bg-redesigned);
}

.filterItemDeprecated {
    transition: background-color 300ms;
    padding: 5px 10px;

    &:hover {
        background: var(--inverted-primary-color);
    }
}

.activeDeprecated {
    background: var(--inverted-primary-color);
}


.icon {
    width:15px;
    height:15px;
    min-width: 15px;
    min-height: 15px;
}
.text {
    text-align: left;
}
