.starDisabledIcon {
    color: var(--hint-redesigned);
    fill: var(--hint-redesigned);
    opacity: 0.4;
}

.starIcon {
    cursor: pointer;
}

.selected {
    cursor: auto;
}

.StarRating {
    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesigned);
    }
}
