.ArticlesPage {
    min-height: 100%;

    .list {
        margin-top: 30px;
    }
    .controlsWrap {
        position: relative;
    }
    .viewSelector {
        position:absolute;
        top:0;
        right: 0;
    }


}
