.FiltersSkeletonContainer {
  width: 4500px;
}


.HRFiltersRedesigned {
  width: 450px;
}


.SubmitInputWrapperRedesigned {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 48px;
  padding: 8px 30px 8px 40px;
  border: 2px solid var(--icon-redesigned);
  width:400px;
  height: 38px;

}

.SearchInputRedesigned {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redesigned);
  background: none;
}


input[type="search" i]::-webkit-search-cancel-button {
  display: none;
}


.SubmitSearchBtn,
.ResetSearchBtn {
  display: flex;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
}

.SubmitSearchBtn {
  left: 8px;
}

.ResetSearchBtn {
  right: 0;
  transition: fill 300ms ease-in-out;

  &:hover {
    .ResetIcon {
      fill: var(--cancel-redesigned);
    }
    .ResetIconDeprecated {
      fill: var(--red-dark-alfa);
    }
  }
}


//Old design

.HRFiltersDeprecated{
  width: 100%;
}
.rootSearch {
  width: 100%;
}

.SubmitInputWrapperDeprecated {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
  height:54px;
  background-color: var(--card-bg);

}

.SearchInputDeprecated {
  border: none;
  outline: none;

  color: var(--primary-color);
  background: none;

 &::placeholder {
    font: var(--font-m);
    color: var(--primary-color);
  }
}


input[type="search" i]::-webkit-search-cancel-button {
  display: none;

}
