.AuthForm {
    width: 460px;
}

.loginBtn {
    margin-left: auto;
}

.formRedirectWrapper {
    align-self: center;
}

.passwordInputWrapper {
    position: relative;
}

.passwordInputLink {
    position: absolute;
    top: 0;
    right: 0;
}

.formDivider {

    &::before,
    &::after {
        content: "";
        height: 1px ;
        margin: 0 10px;
        flex:1;
        background-color: var(--accent-redesigned);

    }
}


