.AuthForm {
    width: 460px;
}

.authBtn {
    margin-left: auto;
}

.formRedirectWrapper {
    align-self: center;
}

.passwordInputWrapper {
    position: relative;
    width:100%;

}

.passwordInputLink {
    position: absolute;
    top: 0;
    right: 0;
}

.passwordInputLinkDeprecated {
    position: absolute;
    top: -16px;
    right: 0;
}


.formDivider {

    &::before,
    &::after {
        content: "";
        height: 1px ;
        margin: 0 10px;
        flex:1;
        background-color: var(--accent-redesigned);

    }
}


.formDividerDeprecated {
    &::before,
    &::after {
        content: "";
        height: 1px ;
        margin: 0 10px;
        flex:1;
        background-color: var(--primary-color);

    }
}

