.errorWrapperRedesigned {
  background: linear-gradient(89.97deg, var(--cancel-redesigned) 1.15%, rgba(94, 211, 243, 0) 99.97%);
  border-radius: 16px;
  padding:8px;
}


.errorWrapperDeprecated {

  padding:8px;
}
