.Icon {
    fill: var(--icon-redesigned);
    color: var(--icon-redesigned);
    transition: color 300ms ease;
}

.error {
    fill: var(--cancel-redesigned);
    color: var(--cancel-redesigned);
}

.accent {
    fill: var(--accent-redesigned);
    color: var(--accent-redesigned);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: color 300ms ease, opacity 300ms ease;
}

.button:hover .Icon {
    color: var(--accent-redesigned);
}

.isDisabled {
    opacity: 0.3;
}
