.ArticlesFilters {
    width: 280px;
}


.categoryCount {
  display:inline-flex;
  justify-content: center;

   background-color: var(--light-bg-redesigned);
  padding:2px;

  border-radius: 10px;
  min-width: 30px;
}


.MenuItem {
  display:flex;
  gap:8px;
  align-items: center;
}

.SubmitSearchBtn {
  display: flex;
  padding:0;
  margin:0;
  background: transparent;
  border:none;
  position: absolute;
  left: 8px;
}

.ResetSearchBtn {
  display: flex;
  padding:0;
  margin:0;
  background: transparent;
  border:none;
  position: absolute;
  right: 0;
  transition: fill 300ms ease-in-out ;
  cursor: pointer;
  &:hover {
    .ResetIcon {
      fill: var(--cancel-redesigned);

    }
  }
}



.SubmitInputWrapper {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  width: 100%;
  height: 38px;
  padding-left: 40px;
}

.SearchInput {
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redesigned);
  background: none;
}


input[type="search" i]::-webkit-search-cancel-button {
  display:none;
}
