.tr {
  display: flex;
  width: fit-content;
  text-align: center;

}

 .tdRedesigned {
   border: 1px solid var(--icon-redesigned);
   font: var(--font-s-redesigned);
   }


.tdDeprecated {
  border: 1px solid var(--primary-color);
  font: var(--font-s);
}
