.previewBlockWrapper {
  border: 2px solid var(--icon-redesigned);
  overflow: hidden;
  padding-right: 50px;
  position: relative;
}


.previewBlockBtnsWrapper {
  background-color: var(--light-bg-redesigned);
  padding:4px;
  position: absolute;
  top:0;
  right:0;
  align-items: stretch;
  //margin-top: -8px;
  //margin-right: -8px;
  border-bottom-left-radius: 16px;


}
