.Card {
    padding: 24px;
}

.withoutPaddings {
    padding: 0;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.padding_0 {
    padding: 0;
}

.padding_8 {
    padding: 8px;
}

.padding_16 {
    padding: 16px;
}

.padding_24 {
    padding: 24px;
}

.flex {
    display: flex;
}

.gap_0 {
    gap: 0;
}

.gap_8 {
    gap: 8px;
}

.gap_16 {
    gap: 16px;
}

.gap_24 {
    gap: 24px;
}

.gap_32 {
    gap: 32px;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.hStack {
    display: flex;
    flex-direction: row;
}

.vStack {
    display: flex;
    flex-direction: column;
}

.classic {
    border-radius: 12px;
}

.round {
    border-radius: 40px;
}

.partial {
    border-radius: 20px;
}
