.NotificationItem,
.link {
    width: 100%;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.NotificationItem {
    position: relative;

}

.linkRedesigned:hover {
    background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
}

.linkDeprecated:hover {
    p {
        color: var(--inverted-secondary-color);
    }
}

.notificationItemIcon {
    min-width: 40px;
    min-height: 40px;
    align-self: flex-start;
}

.closeIconRedesigned {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--cancel-redesigned);
}

.closeIconDeprecated {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--red-dark);
}
