.Tabs {
    cursor: pointer;
}

.tab {
    transition: background-color 300ms ease-in, border-color 300ms ease-in,;

    &:hover {
        background-color: var(--card-bg);
        border-color: var(--card-bg);
    }
}
