.tableRedesigned {
    border: 1px solid var(--icon-redesigned);
}

.tableDeprecated {
    border: 1px solid var(--primary-color);
}

.tableAvatar {
    align-self: center;
}

.tableWrap {
    min-height: 500px;
}
