.tableRedesigned {
  border: 1px solid var(--icon-redesigned);

}

.tableAvatar {
  align-self: center;
}


.tableWrap {
  //width:856px;
  min-height: 500px;
  //overflow-x: hidden;
  //overflow-y: hidden;

}



.tableDeprecated {
  border: 1px solid var(--primary-color);

}

