.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--icon-redesigned);
    width: 100%;
}

.withError {
    border: 2px solid var(--cancel-redesigned);
}

.noBorder {
    border: none;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.clear {
    border: none;
    background: none;
    outline: none;
    border-radius: 0;
}


.focused {
    border: 2px solid var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
        color: var(--accent-redesigned);
    }
}
.focused.withError {
    border: 2px solid var(--cancel-redesigned);
}


.clear.focused  {
    border: none;
    background-color: var(--light-bg-redesigned);

}


.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: 0.7;
}

.isLimitExceeded {
    color: var(--cancel-redesigned);
}


.InputLimit {
    font-size: 12px;
}


