.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  position: relative;

  cursor: pointer;
  border: 1px solid transparent;

  transition: background-color 0.3s, border 0.3s;

  &:first-child {
    margin-top: 0;
  }



  &:focus-within {
    position: relative;
    z-index: 10;
  }
  padding: 24px;

}

.itemRedesigned {
  background: var(--dark-bg-redesigned);
  border-radius: 20px;
  &:hover {
    border: 1px solid var(--accent-redesigned);

    .trigger {
      color: var(--accent-redesigned);
    }
  }
  &[data-state='open'] {

    border-color: var(--accent-redesigned);
    .trigger {
      font-weight: 700;
      :first-child {
        color: var(--accent-redesigned);
      }
    }
  }
}

.itemDeprecated {
  background: var(--card-bg);
  &:hover {
    border: 1px solid var(--primary-color);

    .trigger {
      color: var(--primary-color);
      :first-child {
        color: var(--inverted-primary-color);
      }
    }
  }
  &[data-state='open'] {

    border-color: var(--primary-color);
    background: var(--code-bg);
    .trigger {
      font-weight: 700;
    }
  }
}
.trigger {
  //text-align: left;
  display: flex;
  width: 100%;
  gap:16px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  outline: none;
  position: relative;
  vertical-align: middle;
  background: none;
  border: none;
  padding: 0;





}

.triggerRedesigned {
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.triggerDeprecated {
  font: var(--font-l);
  color: var(--primary-color);
}

.icon {
  width:32px;
  height:32px;
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  [data-state='open'] & {
    transform: rotate(180deg);
  }
}

.iconRedesigned{
  color: var(--accent-redesigned);
}
.iconDeprecated{
  color: var(--primary-color);
}


.content {
  overflow: hidden;
  will-change: height;

  &[data-state='closed'] {
    animation: accordion-up 0.3s ease forwards;
  }

  &[data-state='open'] {
    animation: accordion-down 0.3s ease forwards;
  }
}

.contentRedesigned {
  color: var(--text-redesigned);
}
.contentDeprecated {
  color: var(--primary-color);
}

.contentInner {
  padding-top: 16px;
}


@keyframes accordion-down {
  from {
    height: 0;

  }
  to {
    height: var(--radix-accordion-content-height);

  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);

  }
  to {
    height: 0;

  }
}
