.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentDeprecated,
.contentRedesigned {
    padding: 20px;
    transition: 0.3s transform;
    transform: scale(0.5);
    z-index: var(--modal-z-index);
}

.contentRedesigned {
    border-radius: 12px;
}

.modalRedesigned {
    .contentRedesigned {
        background: var(--light-bg-redesigned);
    }
}

.modalDeprecated {
    .contentDeprecated {
        background: var(--bg-color);
    }
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .contentDeprecated,
    .contentRedesigned {
        transform: scale(1);
    }
}

.isClosing {
    .contentDeprecated,
    .contentRedesigned {
        transform: scale(0.2);
    }
}

.closeIconRedesigned {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--cancel-redesigned);
}

.closeIconDeprecated {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--red-dark);
}
